/*----------
google fonts 
-----------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

/*-------
utilities
--------*/
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

/*---------
header section
----------*/

/* navigation section */
.top-section{
    width: 100%;
    background: #2D25A0;
}
.top-navigation{
    padding: 42px 124px 59px;
    display: flex;
    justify-content: space-between;
    
}
.top-navigation .navbar a{
    font-size: 16px;
    font-weight: 500;
    color: #ffffff;
    text-decoration: none;
    font-style: normal;
    margin-right: 36px;
}
.top-navigation .navbar a:hover{
    text-decoration: underline;
}
.top-navigation .login-section a{
    color: #ffffff;
    padding: 10px 24px;
    background-color: #E02C6D;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
}
.top-navigation .login-section i{
    color: #ffffff;
    margin-right: 8px;
}

/* banner section */
.top-banner{
    display: flex;
    justify-content: space-between;
    padding: 0px 120px 86px;
}
.banner-title{
    width: 485px;
    font-size: 64px;
    font-weight: 700;
    color: #ffffff;
    margin-top: 72px;
    margin-bottom: 37px;
    line-height: 80px;
}
.watch-live-link{
    color: #ffffff;
    padding: 10px 24px;
    background-color: #E02C6D;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
}
.watch-live-icon{
    color: #ffffff;
    margin-left: 8px;
    transition: .5s ease-in-out;
}
.watch-live-link:hover .watch-live-icon{
    transform: translate(10px, 0px);
}
.banner-image{
    width: 556px;
}
.top-banner .banner-image img{
    width: 100%;
}

/*-------------
players section
--------------*/
.container{
    width: 100%;
}
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 27px;
    justify-content: center;
    padding: 70px 140px 165px;
}
.player{
    width: 330px;
    background-color: #ffffff;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    padding: 15px 15px 33px 15px;
}
.player-image img{
    width: 100%;
    margin-bottom: 0;
}
.player-name{
    font-size: 28px;
    font-weight: bold;
    margin-top: 16px;
    margin-bottom: 10px;
} 
.player-info{
    font-size: 16px;
    color: #6C6C6C;
    margin-top: 0;
    font-weight: 400;
}

/*-------------
highlight section
--------------*/
.highlight{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 66px;
    padding: 0px 170px 140px;
}
.highlight-details{
    width: 469px;
}
.highlight-title{
    font-size: 48px;
    margin-top: 59px;
    margin-bottom: 8px;
    line-height: 60px;
}
.highlight-info{
    margin-top: 0;
    margin-bottom: 34px;
    font-weight: 400;
    font-size: 16px;
    color: #6C6C6C;
}
.highlight-image img{
    width: 100%;
}

/*-------------
news section
--------------*/
.news{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0px 100px 100px;
}
.news-details{
    width: 350px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.news-image-area{
    width: 160px;
}
.news-image{
    width: 100%;
    height: 100px;
}
.news-info{
    width: 180px;
    position: relative;
}
.news-info p{
    font-size: 14px;
    margin-top: 5px;
    position: absolute;
    z-index: 1;
    color: #6C6C6C;

}
.arrow-section{
    background-color:#ffffff;
    width: 50px;
    height: 50px;
    position: absolute;
    top:25%;
    left: -10px;
    transform: rotate(45deg);
    transition:.5s;
}
.news-details:hover .arrow-section{
    left: -15px;
} 

/*-------------
medias section
--------------*/
.photo-album{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0px 100px 100px;
}
.photo-frame{
    width: 270px;
    height: 370px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.photo img{
    width: 100%;
}
.photo-detail{
    padding: 5px;
}
.photo-detail h2{
    font-size: 20px;
    text-align: center;
    font-weight: 500;
}
.photo-author{
    background-color: #000;
    text-align: center;
    height: 50px
}
.photo-author p{
    font-size: 15px;
    color: #ffffff;
    margin-top: 15px;
    margin-bottom: 0;
}